{#
/**
 * @file
 * Template per la visualizzazione di un'entità in formato raw.
 *
 * Variabili disponibili:
 * - entity: L'entità che viene visualizzata.
 * - entity_type: Il tipo di entità.
 * - data: Array con i dati raw dell'entità.
 * - title: Il titolo dell'entità.
 * - view_mode: La view mode utilizzata.
 * - node: L'oggetto nodo (se l'entità è un nodo).
 *
 * SICUREZZA: Non usare il filtro |raw su nessuna variabile di questo template.
 * L'autoescaping di Twig protegge da XSS nell'output JSON.
 */
#}
{% set classes = [
  'ildeposito-raw',
  'ildeposito-raw--' ~ entity_type,
] %}
<article{{ attributes.addClass(classes).setAttribute('data-view-mode', view_mode) }}>


<div class"text-center d-inline-block">
<h3 class="border-bottom-2 p-3 d-inline-block">{{ 'Main songs'|t }}</h3>
</div>

{{ drupal_view('autore_canti', 'autore_canti_top') }}


<div class="text-center">
<a href="#" class="p-2 text-white bg-primary text-white font-title d-inline-block" >
<span style="transform: scaleX(-1); display: inline-block;">
{{ include('ildeposito:icon', {
          name: 'arrow-left',
          class: ['text-white'],
          type: 'regular',
          size: '1rem',
        }, with_context = false) }}
       
</span>
 {{ 'All songs'|t }}
</a>
</div>


  {% if data.autori_correlati %} 
    <div class="autori-correlati my-5">
      <h5 class="py-6">{{ 'Related Authors'|t }}</h5>
      <div>
        {%- for autore in data.autori_correlati %}
          <a href="{{ autore.url }}">{{ autore.label }}</a>{% if not loop.last %} &middot; {% endif %}
        {%- endfor %}
      </div>
    </div>
  {% endif %}

  {% if data.informazioni %} 
  <div class="informazioni my-5">
    <h5 class="py-6">{{ 'Information'|t }}</h5>
    {{ data.informazioni|raw }}
    </div>
  {% endif %}




  
  
</article>
